<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="org.nasdanika.examples.target" sequenceNumber="1">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.nasdanika.feature.feature.group"/>
<unit id="org.nasdanika.cdo.feature.feature.group"/>
<unit id="org.nasdanika.server.third_party.feature.feature.group"/>
<unit id="org.nasdanika.html.feature.feature.group"/>
<unit id="org.nasdanika.webtest.feature.feature.group"/>
<unit id="org.nasdanika.server.jetty.feature.feature.group"/>
<unit id="org.nasdanika.equinox.feature.feature.group"/>
<repository location="http://www.nasdanika.org/server/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.nasdanika.examples.bank.ui.driver.feature.feature.group"/>
<repository location="http://www.nasdanika.org/examples-bank-ui-driver/repository"/>
</location>
</locations>
</target>
